.faq_block {
  padding: 20px;
}

.faq_item_plus,
.faq_item_minus {
  padding: 30px;
  color: rgb(51, 51, 51);
  border-bottom: #aaa 1px solid;
}

.anstext {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin: 3px 0 0 40px;
}
.faq_item_minus::before {
  content: "\2796";
  font-size: 16px;
  position: absolute;
}
.faq_item_plus::before {
  content: "\02795";
  font-size: 16px;
  position: absolute;
}

.ansClose {
  margin-left: 35px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.7s;
}
.ansOpen {
  margin-left: 35px;
  height: auto;
  opacity: 1;
  display: block;
  transition: all 0.7s;
}
