.container_center {
  padding: 10px 15px;
}

.subtitle {
  color: rgb(228, 228, 228);
  font-size: 32px;
  font-family: Roboto, Arial, "sans-serif", sans-serif;
  font-weight: 500;
  margin-top: 20px;
}

.ls_layer {
  text-align: initial;
  opacity: 1;
  margin-top: 80px;
  margin-bottom: 80px;
  z-index: auto;
  cursor: pointer;
}

.container_fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
.container_fluid:nth-child(odd) {
  background-color: #ffffff;
}
.container_fluid:nth-child(even) {
  background: rgb(247, 247, 247);
}

/*  background: rgb(247, 247, 247); */

.pageTitle {
  padding-top: 250px;
  text-align: center;
}

.main_block {
  width: 90vw;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main_block h1 {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  color: rgb(6, 110, 183);
}
.main_block p {
  text-align: center;
  color: rgb(51, 51, 51);
  font-size: 24px;
}

.why_intro {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
.intro_ticket {
  display: block;
  text-align: center;
  margin: 0;
  margin-left: 20px;
}
.brandicon {
  margin: auto;
  font-size: 40px;
}
.iconbox {
  background-color: rgb(6, 110, 183);
  color: white;
  display: inline-flex;
  align-items: center;
  height: 60px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.intro_ticket h3 {
  margin: 20px;
}
.intro_ticket p {
  font-weight: 400;
  font-size: 15px;
  color: rgb(86, 86, 86);
}

.aio_icon,
.vc_row .aio_icon {
  display: inline-block;
  font-size: 32px;
  height: 2em;
  width: 2em;
  text-align: center;
  line-height: 2em;
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

@media (max-width: 769px) {
  .why_intro {
    flex-direction: column;
    align-items: center;
  }
  .intro_ticket {
    max-width: 100vw;
    margin-bottom: 40px;
  }

  .usecaseCard {
    flex-direction: column;
  }
  .usecaseLink {
    margin-bottom: 20px;
  }

  .newsarea {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .usecaseTextbox {
    max-width: 50%;
  }

  .usecaseCard:nth-child(odd) {
    flex-direction: row;
  }
  .usecaseCard:nth-child(even) {
    flex-direction: row-reverse;
  }

  .newsarea {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 993px) {
  .usecaseTextbox {
    max-width: 50%;
  }

  .usecaseCard:nth-child(odd) {
    flex-direction: row;
  }
  .usecaseCard:nth-child(even) {
    flex-direction: row-reverse;
  }

  .newsarea {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.usecase_main {
  background-size: cover;
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/img/main/usecase_bg.jpg");
}
.usecase_theme h1 {
  margin: 0;
  padding-top: 120px;
  text-align: center;
  font-weight: normal;
  font-size: 2.5rem;
  color: #ffffff;
}
.usecaseCard {
  max-width: 90vw;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.usecaseCard:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.usecaseImg {
  width: auto;
}
.usecaseTextbox {
  display: block;
  text-align: left;
}
.usecaseTextbox h2 {
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-align: left;
  margin: 0;
}
.usecaseTextbox p {
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
.usecaseLink {
  padding: 8px 19px;
  background-color: rgb(0, 53, 91);
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  display: inline-block;
}
.usecaseLink_icon {
  margin-right: 15px;
}

.newsarea {
  padding-top: 80px;

  display: flex;
}
.news_ticket {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 360px;
}
.news_ticket:hover h3 {
  text-decoration: underline;
}
.news_ticket p {
  color: rgb(128, 128, 128);
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.news_ticket h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 0;
}
