.fullwidth_container {
  width: 100vw;
  height: auto;
  background: url("/img/homepage/banner_bg.jpg") 0% 0% / 100% repeat;
  background-size: auto auto;
}
.header_container {
  padding: 150px 15px;
  height: 450px;
}
.page_title {
  text-align: center;
  color: white;
  font-size: 52px;
  font-family: "Roboto", "Arial", "sans-serif", sans-serif;
  font-weight: 700;
}
.master_container {
  width: 100vw;
  float: left;
}
.page_content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: Roboto, Arial, "sans-serif", sans-serif;
}
.line {
  text-align: center;
  font-weight: lighter;
  margin: 0;
  color: rgb(173, 176, 184);
}

.bg_info {
  background-color: rgba(255, 0, 0, 0) !important;
  margin-top: 0px;
  margin-bottom: -86px;
  padding-left: 50px;
  padding-right: 95px;
  position: fixed;
  width: 100%;
}

.container_fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.col-6 {
  padding-left: 0px;
  padding-right: 0px;
}

.header-bold-normal {
  font-weight: normal !important;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}
.homeTitle {
  text-align: center;
}

.headerNavbarWhite {
  background-color: white !important;
}
.headerNavbarWhite a,
.headerNavbarWhite .navbar-nav .nav-link {
  color: #a8a8a8 !important;
}
.headerNavbarWhite a,
.headerNavbarWhite .navbar-nav .nav-link {
  color: #a8a8a8 !important;
}
.headerNavbarWhite .navlogo {
  /*background-image: url("./../../public/img/bolt_logo_6.png") !important;*/
  width: 125px !important;
  height: 30px !important;
}

@media (max-width: 768px) {
  .bg_info {
    padding-right: 35px;
  }
}
@media (min-width: 769px) and(max-width: 992px) {
  .headerNavbar {
    background-color: #1c2336 !important;
  }
  .headerNavbar .navlogo {
    width: 125px !important;
    height: 30px !important;
  }
  .headerNavbarWhite .navlogo {
    background-image: url("./../../public/img/main/bolt_logo_5.png") !important;
  }
}
