.bg_info {
  background-color: rgba(255, 0, 0, 0) !important;
  margin-top: 0px;
  margin-bottom: -86px;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  width: 100%;
}

.headerNavbar,
.headerNavbarWhite {
  font-family: "Roboto", "Arial", "sans-serif", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-transform: none;
  letter-spacing: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: 0.8s;
  /*overflow: hidden;*/
}
.headerNavbarWhite {
  background-color: white !important;
}
.navlogo {
  max-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;

  background-image: url("./../../public/img/main/bolt_logo_5.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdownItem {
  padding: 10px;
  width: 100%;
  color: #a8a8a8 !important;
  border-top: 0px solid;
}

.dropdownMenu li {
  padding: 5px;
}

.dropdownMenu li:hover {
  background-color: rgb(220, 220, 220);
}

.navitem {
  color: white !important;
  border-top: 0px solid;
}

.navlink:hover {
  color: white;
}
.nav_single_item {
  color: white;
}
.nav_single_item:hover {
  text-decoration: underline;
}

.navbarline {
  height: 12px;
  border-left: 1px solid;
  margin-top: 14px;
}

.headerNavbar ul,
.headerNavbarWhite ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.navToggler {
  display: none;
}

#lang_dropdown .dropdownMenu {
  right: 20px;
}

.dropdown:hover .dropdownMenu {
  max-height: 400px;
  margin-top: 10px;

  opacity: 1;
  display: block;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
}
.dropdown a:hover {
  color: #a8a8a8;
}
.dropdown .dropdownMenu {
  max-height: 0;
  display: none;
  overflow: hidden;
  opacity: 0;
}
.headerNavbarWhite .dropdownMenu {
  border: #a8a8a8 1px solid;
}

.headerNavbarWhite .navlogo {
  background-image: url("./../../public/img/main/bolt_logo_6.png") !important;
  width: 125px !important;
  height: 30px !important;
}

.invisible {
  display: none;
}

@media (max-width: 768px) {
  .bg_info {
    padding-right: 35px;
  }
  .navlogo {
    width: 130px !important;
    background-size: 100% auto !important;
  }
}
@media (max-width: 992px) {
  .headerNavbar,
  .headerNavbarWhite {
    display: block;
    background-color: #1c2336 !important;
  }
  .headerNavbar .navlogo {
    width: 125px !important;
    height: 30px !important;
  }
  .headerNavbarWhite .navlogo {
    background-image: url("./../../public/img/main/bolt_logo_5.png") !important;
  }

  .headerNavbarWhite .dropdown .navlink {
    color: white !important;
  }

  .navbarline {
    display: none;
  }
  .navitem {
    padding: 10px 0;
  }
  .nav_single_item {
    padding: 10px 0;
  }

  .dropdownItem {
    display: block;
  }
  .headerNavbar ul,
  .headerNavbarWhite ul {
    flex-direction: column;
  }
  .dropdown .dropdownMenu {
    border: none;
    position: relative;
    width: 75vw;
  }
  .collapseMenu {
    max-height: 0;
    transition: all 0.7s;
    overflow: hidden;
  }

  .dropdown:hover .dropdownMenu {
    background-color: transparent;
  }
  .dropdownMenu li:hover {
    background-color: white;
  }
  .navToggler {
    margin-top: 20px;
    float: right;
    display: block;
    width: 56px;
    height: 40px;
    border: 1px white solid;
    border-radius: 5px;
    cursor: pointer;
  }
  .burger {
    display: block;
    margin: auto;
  }
  .showMenu {
    max-height: 700px;
    display: block;
    transition: all 0.7s;
  }
}

@media (min-width: 993px) {
  .headerNavbarWhite a,
  .headerNavbarWhite .dropdown .navlink {
    color: #a8a8a8 !important;
  }
  .dropdownMenu {
    position: absolute;
  }
  .navitem {
    padding: 12px;
  }
  .nav_single_item {
    padding: 0px 12px;
  }
}
