.bg_info {
  background-color: rgba(255, 0, 0, 0) !important;
  margin-top: 0px;
  margin-bottom: -86px;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  width: 100%;
}
@media (max-width: 576px) {
  .bg_info {
    padding-right: 35px;
  }
  .navlogo {
    width: 130px !important;
    background-size: 100% auto !important;
  }
}
.headerNavbar {
  font-family: "Roboto", "Arial", "sans-serif", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-transform: none;
  letter-spacing: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: 0.8s;
  /*overflow: hidden;*/
}
.navlogo {
  max-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;

  background-repeat: no-repeat;
  background-size: cover;
}

.dropdownItem {
  padding: 10px;
  width: 100%;
  color: #a8a8a8 !important;
  border-top: 0px solid;
}

.dropdownMenu li:hover {
  background-color: rgb(220, 220, 220);
}

.navitem {
  color: white !important;
  border-top: 0px solid;
  padding: 12px;
}

.navbar_dark .navbar_nav .navlink {
  color: white;
}
.navlink:hover {
  color: white;
}
.nav_single_item {
  color: white;
  padding: 0px 12px;
}
.nav_single_item:hover {
  text-decoration: underline;
}

.navbarline {
  height: 12px;
  border-left: 1px solid;
  margin-top: 14px;
}

.headerNavbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.navToggler {
  display: none;
}

.dropdown_toggle::after {
  border-top: 0px solid;
}
#lang_dropdown .dropdown_toggle::after {
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  top: 18px;
  right: 3px;
}
.dropdown:hover .dropdownMenu {
  max-height: 400px;
  opacity: 1;

  display: block;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
}
.dropdown a:hover {
  color: #a8a8a8;
}
.dropdown {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown .dropdownMenu {
  max-height: 0;
  position: absolute;
  display: none;
  overflow: hidden;
  opacity: 0;
}
.headerNavbarWhite {
  background-color: white !important;
}
.headerNavbarWhite a,
.headerNavbarWhite .navbar-nav .navlink {
  color: #a8a8a8 !important;
}

.headerNavbarWhite .navlogo {
  background-image: url("./../../public/img/2019/05/bolt_logo_6.png") !important;
  width: 125px !important;
  height: 30px !important;
}
@media (max-width: 992px) {
  .headerNavbar {
    background-color: #1c2336 !important;
  }
  .headerNavbar .navlogo {
    width: 125px !important;
    height: 30px !important;
  }
  .headerNavbarWhite .navlogo {
    background-image: url("./../../public/img/2019/05/bolt_logo_5.png") !important;
  }
  .navbarline {
    display: none;
  }
  .nav_single_item {
    padding: 5px 0px 15px 5px;
  }
  .wpb_wrapper {
    padding: 0px 10px;
  }

  .dropdownItem {
    display: block;
  }
  .headerNavbar {
    display: block;
  }
  .headerNavbar ul {
    flex-direction: column;
  }
  .dropdown .dropdownMenu {
    position: relative;
    width: 75vw;
  }
  .collapseMenu {
    max-height: 0;
    opacity: 0;
    display: none;
  }
  .dropdown:hover .dropdownMenu {
    background-color: transparent;
  }
  .dropdownMenu li:hover {
    background-color: cyan;
  }
  .navToggler {
    margin-top: 20px;
    float: right;
    display: block;
    width: 56px;
    height: 40px;
    border: white solid;
  }
  .showMenu {
    max-height: 400px;
    display: block;
    opacity: 1;
    transition: 0.7s all ease;
  }
}
.bolck1-title {
  margin-top: 170px;
  margin-bottom: 10px;
}
.th {
  font-weight: normal;
}
.html {
  scroll-behavior: smooth;
}

.invisible {
  display: none;
}
