.container {
  width: 100vw;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #292c3f;
}

.not_found_jumbotron {
  width: 75vw;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
}

.not_found_title {
  margin-top: 45px;
}
.not_found_description {
  margin: 20px 47px;
  font-size: 21px;
  font-weight: normal;
  color: #adb0b8;
}
.submit {
  margin-top: 50px;
  padding: 10px 26px;
  background-color: #066eb7;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

@media (max-width: 768px) {
  .not_found_jumbotron {
    padding: 100px 0 100px 0;
  }

  .not_found_title {
    font-size: 20px;
  }

  .not_found_description {
    font-size: 15px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .not_found_jumbotron {
    padding: 100px;
  }
}
@media (min-width: 993px) {
  .not_found_jumbotron {
    padding: 100px;
  }
}
